services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_CONTAINER_NAME}
    volumes:
      - .:/app:rw
      - app-venv:/app/.venv
    environment:
      TZ: "Asia/Tokyo"
      DDBJ_SEARCH_API_DEBUG: ${DDBJ_SEARCH_API_DEBUG}
      DDBJ_SEARCH_API_HOST: ${DDBJ_SEARCH_API_HOST}
      DDBJ_SEARCH_API_PORT: ${DDBJ_SEARCH_API_PORT}
      DDBJ_SEARCH_API_URL_PREFIX: ${DDBJ_SEARCH_API_URL_PREFIX}
      DDBJ_SEARCH_API_ES_URL: ${DDBJ_SEARCH_API_ES_URL}
    working_dir: /app
    command: ${DDBJ_SEARCH_API_COMMAND}
    networks:
      - ddbj-search-network
    init: true

networks:
  ddbj-search-network:
    name: ddbj-search-network
    external: true

volumes:
  app-venv:
    driver: local
