services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ddbj-search-api-${DDBJ_SEARCH_ENV}
    user: "${CONTAINER_UID:-0}:${CONTAINER_GID:-0}"
    volumes:
      - .:/app:rw
      - app-venv:/app/.venv
    environment:
      TZ: ${TZ:-Asia/Tokyo}
      DDBJ_SEARCH_ENV: ${DDBJ_SEARCH_ENV}
      DDBJ_SEARCH_API_URL_PREFIX: ${DDBJ_SEARCH_API_URL_PREFIX}
      DDBJ_SEARCH_API_ES_URL: ${DDBJ_SEARCH_API_ES_URL}
    working_dir: /app
    command: ${DDBJ_SEARCH_API_COMMAND}
    networks:
      - ddbj-search-network
    init: true

networks:
  ddbj-search-network:
    name: ddbj-search-network-${DDBJ_SEARCH_ENV}
    external: true

volumes:
  app-venv:
    driver: local
